body {
  text-align: center;
  font-family:'Merriweather', serif;
  margin: 0;
  margin-bottom: 0
}

/*
16px = 1em = 100%
562 = 90/16
*/

h1 {
  margin: 50 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;

}


h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  text-decoration: none;
  margin: 10px 15px;
}

hr {
  color: #EAF6F6;
  width: 40%;
  border-style: dotted;
  border-top-style: none;
  border-width: 3px;
   }


.top {
  background-color: #EAF6F6;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  padding-top: 100px;
}


.middle {
  padding-top: 50;
  padding-bottom: 200;
}

.bottom {
  background-color: #66BFBF;
  padding-top: 30px;
  padding-bottom: 40px

}

.bottom-cloud {
  position: absolute;
  left: 30%;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 30%;
  top: 50px;
}

.boydan {
  padding-top: 50px;
  height:250px;
  width: 250px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
  background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 50px
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.owyeah1 {
  width: 25%;
  float: left;
  margin-right: 30px
}

.owyeah2 {
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-bottom: 33px
}

.noshit{
  clear: right;
  margin-bottom: 75px;
}

.footer-link {
  color: #11999E;
}

.credits {
  color: #EAF6F6
}
